/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/02/2016, 12:05:01 PM
    Author     : kho01f
*/

/*body { font-size: 62.5%; }*/
p.conf-p {font-size:12px;margin-top:10px;}
label.conf, input { font-weight: normal;display:block;margin-bottom:0px }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { font-size: 12px;padding:0; border:0; margin-top:25px; }
/*h1 { font-size: .2em; margin: .6em 0; }*/
div#users-contain {width: 350px; margin: 20px 0; }
/*div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }*/
/*div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }*/
.ui-dialog-title{font-size:12px;} .ui-state-error { padding: .3em}
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-button-text{
    font-size:12px;
}
.ui-state-highlight {
    margin-top:8.5px;
    border: 0px solid #fcefa1;
    background: #fbf9ee;
    color: #363636;
}
.dialog-setting{
    margin-left:10px;  
    font-size:10px;
}
img.setting{
    position: absolute;
    right: 17px;
    bottom: 0px;
    top: -5px;
    content:url("../img/conf.png");
    width:20px; 
    height:19px;
    opacity: 0.3;
}
img.bin{
    position: absolute;
    right: -3px;
    bottom: 0px;
    top: -4px;
    content:url("../img/bin.png");
    width:17px; 
    height:17px;
    opacity: 0.3;
}
div.first-div{
    padding-top:3px;
    float: left
}
div.second-div{
    padding-top:7px;
    padding-left: 35px
}
div.third-div{
    position: relative

}
#draggables, #sortable { list-style-type: none; margin: 0; float: left; margin-right: 194px; background: #fbfbfb; padding: 10px 0px 10px 20px; width: 257px; border: 1px solid #cccccc}
#draggables li, #sortable li { font-family: Helvetica, Arial, sans-serif; margin: 5px; padding: 5px 5px 15px 10px; font-size: 14px; width: 205px;color: #262626}
#draggables > li > .image{
    display:block;
    float:left;
    margin:0px;
}
img.icon{
    width:30px; height:30px;
}

#sortable > li > .image{
    display:block;
    float:left;
    margin:0px;
}

.ui-state-default-extention {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
    height: 49px;
    width: 205px;
}

.ui-state-default-start {
    border: 1px solid #449d44;
    background: #99cc00;
    font-weight: bold;
    color: white;
    text-align: center;
}

.ui-state-default-end {
    border: 1px solid #a94442;
    background: #ce8483;
    font-weight: bold;
    color: white;
    text-align: center;
}