[submodule "iot-emulation-kit/edge-gatekeeper"]
	path = iot-emulation-kit/edge-gatekeeper
	url = git@github.com:ncl-iot-team/edge-gatekeeper.git
[submodule "iot-emulation-kit/sensor-emulator"]
	path = iot-emulation-kit/sensor-emulator
	url = git@github.com:ncl-iot-team/sensor-emulator.git
[submodule "iot-emulation-kit/edge-mon"]
	path = iot-emulation-kit/edge-mon
	url = git@github.com:ncl-iot-team/edge-mon.git
[submodule "iot-emulation-kit/dataingest-gatekeeper"]
	path = iot-emulation-kit/dataingest-gatekeeper
	url = git@github.com:ncl-iot-team/dataingest-gatekeeper
[submodule "iot-emulation-kit/osmotic-controller"]
	path = iot-emulation-kit/osmotic-controller
	url = git@github.com:ncl-iot-team/osmotic-controller
